<!DOCTYPE html>
<html xmlns:th="http:/www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<div id="wrap">
<main id="main">
<form th:action="@{/opretlease}" method="post">
    <p>
        <label for="customerID"></label>
        <input type="number" id="customerID" placeholder="Kunde ID" name="customerID" required/>
    </p>
    <p>
        <label for="startDate"></label>
        <input type="date" id="startDate" placeholder="Start dato for lease" name="startDate"/>
    </p>
    <p>
        <label for="endDate"></label>
        <input type="date" id="endDate" placeholder="Slut dato for lease" name="endDate" required/>
    </p>
    <p>
        <label for="includedKM"></label>
        <input type="number" id="includedKM" placeholder="Inkluderet antal kilometer" name="includedKM" required/>
    </p>
    <p>
        <label for="customerID"></label>
        <input type="number" id="carID" placeholder="Bil ID" name="carID" required/>
    </p>
</form>
    <p>
        <button type="submit"> Opret lease </button>
    </p>
</main>
</div>
</body>
</html>