<!DOCTYPE html>
<html lang="en" xmlns:th="http:/www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>

<div class="content" xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="https://www.thymeleaf.org/thymleaf-extras-springsecurity5">
    <div class="col py-3" sec:authorize="hasAnyRole('BUISNESS', 'ADMIN')" th:fragment="allLeasedCars">
        <p>Alle udlejede biler</p>
        <table class="table">
            <thead>
            <tr>
                <th> Bil-id</th>
                <th> Nummerplade</th>
                <th> Leasing</th>
                <th> Type</th>
                <th> Pris pr. måned</th>
                <th> Leasing startdato</th>
                <th> Leasing slutdato</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="car : ${carEconomies}">
                <td th:text="${car.getCarID()}"></td>
                <td th:text="${car.getNumberPlate()}"></td>
                <td th:text="${car.getCurrentLeasing()}"></td>
                <td th:text="${car.getCarStatus()}"></td>
                <td th:text="${car.getPricePrMonth()}"></td>
                <td th:text="${#dates.format(car.getLeasingStartDate(), 'dd-MM-yyyy HH:mm')}"></td>
                <td th:text="${#dates.format(car.getLeasingEndDate(), 'dd-MM-yyyy HH:mm')}"></td>
            </tr>
            </tbody>
        </table>
        <br>
        <p> Samlet måneds indkomst for alle udlejede biler =
        <td th:text="${totalMontlyIncome}"></td>
        </p>
    </div>

    <div class="col py-3" sec:authorize="hasAnyRole('DATA', 'ADMIN')" th:fragment="opretlease">

        <h3>Biler der er registeret som ledige</h3>
        <table >
            <thead>
            <tr>
                <th style="width: 5%"> Bil id</th>
                <th style="width: 6%"> Nummerplade</th>
                <th style="width: 15%"> Stelnummer</th>
                <th style="width: 8%"> mærke</th>
                <th style="width: 20%"> model</th>
                <th style="width: 5%"> farve</th>
                <th style="width: 8%"> brændstof</th>
                <th style="width: 10%"> geartype</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="car:${listOfFreeCars}">
                <td th:text="${car.getCarID()}"></td>
                <td th:text="${car.getNumberPlate()}"></td>
                <td th:text="${car.getVinNumber()}"></td>
                <td th:text="${car.getManufacturer()}"></td>
                <td th:text="${car.getModelName()}"></td>
                <td th:text="${car.getColourName()}"></td>
                <td th:text="${car.getFuelTypeName()}"></td>
                <td th:text="${car.getGearTypeName()}"></td>
                </td>
            </tr>
            </tbody>
        </table>
        <br>
        <h5>Udfyld oplysningerne nedenfor, for at register ny leasingaftale</h5>
        <form th:action="@{/opretlease}" method="post">
            <p>
                Kundenummer:<br>
                <label for="customerID"></label>
                <input type="number" id="customerID" placeholder="Kunde ID" name="customerID" required/>
            </p>
            <p>
                Startdato for leasing:<br>
                <label for="startDate"></label>
                <input type="datetime-local" id="startDate" placeholder="Start dato for lease" name="startDate"/>
            </p>
            <p>
                Slutdato for leasing:<br>
                <label for="endDate"></label>
                <input type="datetime-local" id="endDate" placeholder="Slut dato for lease" name="endDate" required/>
            </p>
            <p>
                Inkluderede km:<br>
                <label for="includedKM"></label>
                <input type="number" id="includedKM" placeholder="Inkluderet antal kilometer" name="includedKM"
                       required/>
            </p>
            <p>
                Leasing-type:<br>
                <input type="radio" name="leasingType" value="udlejet-limited" id="udlejet-limited">
                <label for="udlejet-limited">Limited</label>
                <input type="radio" name="leasingType" value="udlejet-unlimited" id="udlejet-unlimited">
                <label for="udlejet-unlimited">Unlimited</label>
            </p>
            <p>
                Vælg bil:<br>
                <select name="carID">
                    <option value="Sample" th:each="car:${listOfFreeCars}"
                            th:value="${car.getCarID()}"
                            th:text="${car.getCarID()}+' - '+${car.getNumberPlate()}">

                    </option>
                </select>
            </p>

            <p>
                <button type="submit"> Opret lease</button>
            </p>
        </form>

    </div>
    <div class="col py-3" sec:authorize="hasAnyRole('DAMAGE', 'ADMIN')" th:fragment="closeDamage">
        <form th:action="@{/closeDamage}" method="post">

            <p> vælg den/de skader der er blevet udbedret</p>
            <table>
                <thead>
                <tr>
                    <th>Vælg</th>
                    <th>Skade-id</th>
                    <th>Bil-id</th>
                    <th>Nummerplade</th>
                    <th>Stelnummer</th>
                    <th>Beskrivelse</th>
                    <th>Pris</th>
                    <th>Anmelder</th>
                    <th>Skadesdato</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="damage :${damageList}">
                    <td>
                        <input type="checkbox" name="damage"
                               th:id="${damage.getDamageID()}"
                               th:value="${damage.getDamageID()}"/>
                    </td>
                    <td th:text="${damage.getDamageID()}"></td>
                    <td th:text="${damage.getCarID()}"></td>
                    <td th:text="${damage.getNumberPlate()}"></td>
                    <td th:text="${damage.getVinNumber()}"></td>
                    <td th:text="${damage.getDamageDescription()}"></td>
                    <td th:text="${damage.getPrice()}"></td>
                    <td th:text="${damage.getClaimant()}"></td>
                    <td th:text="${damage.getDamageRegistationsDate()}"></td>
                </tr>
                </tbody>
            </table>


            <p>
                Skade udbedret:<br>
                <label for="fixedDate"></label>
                <input type="date" id="fixedDate" placeholder="Skade udbedret" name="fixedDate"/>
            </p>
            <input type="submit" value="Luk skade">
        </form>

    </div>
    <div class="col py-3" sec:authorize="hasAnyRole('DAMAGE', 'ADMIN')" th:fragment="createDamage">
        <form th:action="@{/createDamage}" method="post">
            <h5>Opret skade eller mangel på bil</h5>
            <p>Bil-Id - Nummerplade - Stelnummer</p>
            <select name="carID">
                <option value="Sample" th:each="car:${carList}"
                        th:value="${car.getCarID()}"
                        th:text="${car.getCarID()}+' - '+${car.getNumberPlate()} +' - '+${car.getVinNumber()} ">
                </option>
            </select>

            <p>
                Skadebeskrivelse :<br>
                <label for="damageDescription"></label>
                <textarea id="damageDescription" name="damageDescription" maxlength="200" rows="4" cols="50" required>
                </textarea>
            </p>
            <p>
                Pris for skade:<br>
                <label for="damagesCost"></label>
                <input type="number" id="damagesCost" name="damagesCost" min="0" value="0" step="any" required/>
            </p>
            <p>
                Skade anmelder :<br>
                <label for="claimant"></label>
                <input type="text" id="claimant" name="claimant" required/>
            </p>
            <p>
                Dato for skade:<br>
                <label for="damageDate"></label>
                <input type="date" id="damageDate" placeholder="Skade dato" name="damageDate"/>
            </p>

            <input type="submit" value="Opret skade">
        </form>

    </div>

    <div class="col py-3" sec:authorize="hasAnyRole('DATA', 'ADMIN')" th:fragment="extraEquipment">
        <table>
            <tr
                    th:each="ekstraEquipemnt : ${extraEquipment}">
                <td th:text="${ekstraEquipemnt.getCarID()}"></td>
                <td th:text="${ekstraEquipemnt.getNumberPlate()}"></td>
                <td th:text="${ekstraEquipemnt.getEkstraEquipemntdescription()}"></td>
            </tr>
        </table>

    </div>
</div>
