<!--Johanne, Adam, Mikkel, Jonas-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http:/www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>

<div class="content" xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="https://www.thymeleaf.org/thymleaf-extras-springsecurity5">
    <div class="col py-3" sec:authorize="hasAnyRole('BUISNESS', 'ADMIN')" th:fragment="allLeasedCars">
        <h3>Biler fordelt på status</h3>
        <table class="table">
            <thead>
            <tr>
                <th style="width: 15%"> Status</th>
                <th> Antal</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item : ${carsPerStatus}">
                <td th:text="${item.getStatus()}"></td>
                <td th:text="${item.getNumberOfCars()}"></td>
            </tr>
            </tbody>
        </table>
        <br>
        <h3>Alle udlejede biler</h3>
        <table class="table">
            <thead>
            <tr>
                <th style="width: 5%"> Bil id</th>
                <th style="width: 6%"> Nummerplade</th>
                <th style="width: 6%"> Leasing</th>
                <th style="width: 8%"> Type</th>
                <th style="width: 8%"> Pris pr. måned</th>
                <th style="width: 10%"> Leasing startdato</th>
                <th style="width: 10%"> Leasing slutdato</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="carEconomy : ${carEconomies}">
                <td th:text="${carEconomy.getCarID()}"></td>
                <td th:text="${carEconomy.getLicencePlate()}"></td>
                <td th:text="${carEconomy.getCurrentLeasing()}"></td>
                <td th:text="${carEconomy.getCarStatus()}"></td>
                <td th:text="${#numbers.formatDecimal(carEconomy.getPricePrMonth(),1,2,'COMMA')}"></td>
                <td th:text="${#temporals.format(carEconomy.getLeasingStartDate(), 'dd-MM-yyyy HH:mm')}"></td>
                <td th:text="${#temporals.format(carEconomy.getLeasingEndDate(), 'dd-MM-yyyy HH:mm')}"></td>
            </tr>
            </tbody>
        </table>
        <br>
        <p>
            Samlet måneds indkomst for alle udlejede biler =
            <span th:text="${#numbers.formatDecimal(totalMonthlyIncome,1,2,'COMMA')}"></span> kr
        </p>
    </div>

    <div class="col py-3" sec:authorize="hasAnyRole('DATA', 'ADMIN')" th:fragment="opretlease">

        <h3>Biler der er registeret som ledige</h3>
        <table class="table">
            <thead>
            <tr>
                <th style="width: 5%"> Bil id</th>
                <th style="width: 6%"> Nummerplade</th>
                <th style="width: 15%"> Stelnummer</th>
                <th style="width: 8%"> Mærke</th>
                <th style="width: 20%"> Model</th>
                <th style="width: 5%"> Farve</th>
                <th style="width: 8%"> Brændstof</th>
                <th style="width: 10%"> Geartype</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="car:${listOfFreeCars}">
                <td th:text="${car.getCarID()}"></td>
                <td th:text="${car.getLicencePlate()}"></td>
                <td th:text="${car.getVinNumber()}"></td>
                <td th:text="${car.getManufacturer()}"></td>
                <td th:text="${car.getModelName()}"></td>
                <td th:text="${car.getColourName()}"></td>
                <td th:text="${car.getFuelTypeName()}"></td>
                <td th:text="${car.getGearTypeName()}"></td>
                </td>
            </tr>
            </tbody>
        </table>
        <br>
        <h5>Udfyld oplysningerne nedenfor, for at register ny leasingaftale</h5>
        <form th:action="@{/opretlease}" method="post">
            <p>
                Kundenummer:<br>
                <label for="customerID"></label>
                <input type="number" id="customerID" placeholder="Kunde ID" name="customerID" required/>
            </p>
            <p>
                Startdato for leasing:<br>
                <label for="startDate"></label>
                <input type="datetime-local" id="startDate" placeholder="Start dato for lease" name="startDate"/>
            </p>
            <p>
                Slutdato for leasing:<br>
                <label for="endDate"></label>
                <input type="datetime-local" id="endDate" placeholder="Slut dato for lease" name="endDate" required/>
            </p>
            <p>
                Inkluderede km:<br>
                <label for="includedKM"></label>
                <input type="number" id="includedKM" placeholder="Inkluderet antal kilometer" name="includedKM"
                       required/>
            </p>
            <p>
                Leasing-type:<br>
                <input type="radio" name="leasingType" value="udlejet-limited" id="udlejet-limited">
                <label for="udlejet-limited">Limited</label>
                <input type="radio" name="leasingType" value="udlejet-unlimited" id="udlejet-unlimited">
                <label for="udlejet-unlimited">Unlimited</label>
            </p>
            <p>
                Vælg bil:<br>
                <select name="carID">
                    <option th:each="car:${listOfFreeCars}"
                            th:value="${car.getCarID()}"
                            th:text="${car.getCarID()}+' - '+${car.getLicencePlate()}">
                    </option>
                </select>
            </p>
            <p>
                <button type="submit"> Opret lease</button>
            </p>
        </form>

    </div>
    <div class="col py-3" sec:authorize="hasAnyRole('DAMAGE', 'ADMIN')" th:fragment="closeDamage">
        <form th:action="@{/closeDamage}" method="post">

            <h5> Vælg den/de skader der er blevet udbedret</h5>
            <table class="table">
                <thead>
                <tr>
                    <th>Vælg</th>
                    <th>Skade-id</th>
                    <th>Bil-id</th>
                    <th>Nummerplade</th>
                    <th>Stelnummer</th>
                    <th>Beskrivelse</th>
                    <th>Pris</th>
                    <th>Anmelder</th>
                    <th>Skadesdato</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="damage :${damageList}">
                    <td>
                        <input type="checkbox" name="damage"
                               th:id="${damage.getDamageID()}"
                               th:value="${damage.getDamageID()}"/>
                    </td>
                    <td th:text="${damage.getDamageID()}"></td>
                    <td th:text="${damage.getCarID()}"></td>
                    <td th:text="${damage.getLicencePlate()}"></td>
                    <td th:text="${damage.getVinNumber()}"></td>
                    <td th:text="${damage.getDamageDescription()}"></td>
                    <td th:text="${#numbers.formatDecimal(damage.getPrice(),1,2,'COMMA')}"></td>
                    <td th:text="${damage.getClaimant()}"></td>
                    <td th:text="${#dates.format(damage.getDamageRegistrationsDate(),'dd-MM-yyyy')}"></td>

                </tr>
                </tbody>
            </table>


            <p>
                Skade udbedret:<br>
                <label for="fixedDate"></label>
                <input type="date" id="fixedDate" placeholder="Skade udbedret" name="fixedDate" required/>
            </p>
            <input type="submit" value="Luk skade">
        </form>

    </div>
    <div class="col py-3" sec:authorize="hasAnyRole('DAMAGE', 'ADMIN')" th:fragment="createDamage">
        <form th:action="@{/createDamage}" method="post">
            <h5>Opret skade eller mangel på bil</h5>
            <p>Bil-Id - Nummerplade - Stelnummer</p>
            <select name="carID">
                <option th:each="car:${carList}"
                        th:value="${car.getCarID()}"
                        th:text="${car.getCarID()}+' - '+${car.getLicencePlate()} +' - '+${car.getVinNumber()} ">
                </option>
            </select>

            <p>
                Skadebeskrivelse :<br>
                <label for="damageDescription"></label>
                <textarea id="damageDescription" name="damageDescription" maxlength="200" rows="4" cols="50"
                          required></textarea>
            </p>
            <p>
                Pris for skade:<br>
                <label for="damagesCost"></label>
                <input type="number" id="damagesCost" name="damagesCost" min="0" value="0" step="any" required/>
            </p>
            <p>
                Skade anmelder :<br>
                <label for="claimant"></label>
                <input type="text" id="claimant" name="claimant" required/>
            </p>
            <p>
                Dato for skade:<br>
                <label for="damageDate"></label>
                <input type="date" id="damageDate" placeholder="Skade dato" name="damageDate"/>
            </p>

            <input type="submit" value="Opret skade">
        </form>

    </div>

    <div class="col py-3" sec:authorize="hasAnyRole('DATA', 'ADMIN')" th:fragment="extraEquipment">
        <h5>Liste over biler og deres ekstraudstyr</h5>
        <table class="table">
            <thead>
            <tr>
                <th>Bil-id</th>
                <th>Nummerplade</th>
                <th>Stelnummer</th>
                <th>Registreret Ekstraudstyr</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="extraEquipment : ${extraEquipment}">
                <td th:text="${extraEquipment.getCarID()}"></td>
                <td th:text="${extraEquipment.getLicencePlate()}"></td>
                <td th:text="${extraEquipment.getVinNumber()}"></td>
                <td th:text="${extraEquipment.getExtraEquipmentDescription()}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col py-3" sec:authorize="hasAnyRole('DATA', 'ADMIN')" th:fragment="addExtraEquipment">
        <form th:action="@{/adExtraEquipment}" method="post">
            >
            <h3>Tilføj ekstraudstyr til bil</h3>
            <h5>Vælg bil der skal have ekstraudstyr:</h5>
            <p>
                Bil-Id - Nummerplade - Stelnummer<br>
                <select name="carID">
                    <option th:each="car:${allCars}"
                            th:value="${car.getCarID()}"
                            th:text="${car.getCarID()} +' - ' + ${car.getLicencePlate()} + ' - ' + ${car.getVinNumber()}">
                    </option>
                </select>
            </p>
            <p>
                Ekstraudstyr<br>
            <div th:each="ex:${extraEquipmentList}">
                <input type="checkbox" name="exID"
                       th:id="${ex.getExtraEquipmentID()}"
                       th:value="${ex.getExtraEquipmentID()}"/>
                <label th:for="${ex.getExtraEquipmentID()}" th:text="${ex.getExtraEquipmentDescription()}"></label>
            </div>
            </p>
            <input type="submit" value="Tilføj ekstraudstyr">
        </form>
    </div>
    <div class="col py-3" sec:authorize="hasAnyRole('DATA', 'ADMIN')" th:fragment="addLicencePlate">
        <h3>Biler der mangler nummerplade</h3>
        <table class="table">
            <thead>
            <tr>
                <th style="width: 5%"> Bil id</th>
                <th style="width: 15%"> Stelnummer</th>
                <th style="width: 8%"> Mærke</th>
                <th style="width: 20%"> Model</th>
                <th style="width: 5%"> Farve</th>
                <th style="width: 8%"> Brændstof</th>
                <th style="width: 10%"> Geartype</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="car:${carsMissing}">
                <td th:text="${car.getCarID()}"></td>
                <td th:text="${car.getVinNumber()}"></td>
                <td th:text="${car.getManufacturer()}"></td>
                <td th:text="${car.getModelName()}"></td>
                <td th:text="${car.getColourName()}"></td>
                <td th:text="${car.getFuelTypeName()}"></td>
                <td th:text="${car.getGearTypeName()}"></td>
                </td>
            </tr>
            </tbody>
        </table>
        <form th:action="@{/adLicencePlate}" method="post">
            <p>Vælg bil der skal have nummerplade:<br>
            <p>Bil-Id - Stelnummer</p>
            <select name="carID">
                <option th:each="car:${carsMissing}"
                        th:value="${car.getCarID()}"
                        th:text="${car.getCarID()}+' - '+${car.getVinNumber()}">

                </option>
            </select>
            <p>
                Nummerplade:<br>
                <label for="licencePlateLP"></label>
                <input type="text" id="licencePlateLP" placeholder="Nummerplade" name="licencePlateLP" maxlength="7"/>
            </p>
            <p>
                Registreringafgift:<br>
                <label for="regFeeLP"></label>
                <input type="number" id="regFeeLP" placeholder="Registreringsafgift" name="regFeeLP" min="0" value="0" step="any"/>
            </p>
            <input type="submit" value="Tilføj nummerplade">
        </form>

    </div>
    <div class="col py-3" sec:authorize="hasAnyRole('DATA', 'ADMIN')" th:fragment="createCar">
        <form th:action="@{/createCar}" method="post">
            <h3>Opret bil:</h3>
            <p>
                Vælg model:<br>
                <select name="carModel">
                    <option th:each="model:${carModels}"
                            th:value="${model.getModelID()}"
                            th:text="${model.getManufacturer()}+' - '+${model.getModelName()}">
                    </option>
                </select>
            </p>
            <p>
                Stelnummer:<br>
                <label for="vinNumber"></label>
                <input type="text" id="vinNumber" placeholder="Stelnummer" name="vinNumber"/>
            </p>
            <p>
                Nummerplade:<br>
                <label for="licencePlate"></label>
                <input type="text" id="licencePlate" placeholder="Nummerplade" name="licencePlate"/>
            </p>

            <p>
                Brændstof:<br>
                <select name="fuelType">
                    <option th:each="fuelType:${fuelTypes}"
                            th:value="${fuelType.getFuelTypeID()}"
                            th:text="${fuelType.getFuelTypeName()}">
                    </option>
                </select>
            </p>

            <p>
                Geartype:<br>
                <select name="gearType">
                    <option th:each="gearType:${gearTypes}"
                            th:value="${gearType.getGearTypeID()}"
                            th:text="${gearType.getGearTypeName()}">
                    </option>
                </select>
            </p>

            <p>
                Farve:<br>
                <select name="colour">
                    <option th:each="colour:${colours}"
                            th:value="${colour.getColourID()}"
                            th:text="${colour.getColourName()}">
                    </option>
                </select>
            </p>

            <p>
                Registreringafgift:<br>
                <label for="regFee"></label>
                <input type="number" id="regFee" placeholder="Registreringsafgift" name="regFee" min="0" value="0" step="any"/>
            </p>

            <p>
                <button type="submit">Opret bil</button>
            </p>

        </form>

    </div>


</div>
