<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <table>
    <tr
            th:each="carEconomy : ${carEconomies}">
        <td th:text="${carEconomy.getCarID()}"></td>
        <td th:text="${carEconomy.getRegistrationNumber()}"></td>
        <td th:text="${carEconomy.getCurrentLeasing()}"></td>
        <td th:text="${carEconomy.getCarStatus()}"></td>
        <td th:text="${carEconomy.getPricePrMonth()}"></td>
    </tr>
    </table>
    totalMontlyIncome = <td th:text="${totalMontlyIncome}"></td>
</body>
</html>