<!DOCTYPE html>
<html lang="en" xmlns:th="http:/www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form th:action="@{/createDamage}" method="post">
    <p>vælg bil</p>
    <p>bil-Id - Nummerplade - Stelnummer</p>
    <select name="carID">
        <option value="Sample" th:each="car:${carList}"
                th:value="${car.getCarID()}"
                th:text="${car.getCarID()}+' - '+${car.getNumberPlate()} +' - '+${car.getVinNumber()} ">
        </option>
    </select>

    <p>
        Skadebeskrivelse :<br>
        <label for="damageDescription"></label>
        <input type="text" id="damageDescription" placeholder="skade beskrivelse" name="damageDescription" required/>
    </p>
    <p>
        Pris for skade:<br>
        <label for="damagesCost"></label>
        <input type="number" id="damagesCost" name="damagesCost" min="0" value="0" step="any" required/>
    </p>
    <p>
        Skade anmelder :<br>
        <label for="claimant"></label>
        <input type="text" id="claimant" placeholder="Anmelder" name="claimant" required/>
    </p>
    <p>
        Dato for skade:<br>
        <label for="damageDate"></label>
        <input type="date" id="damageDate" placeholder="Skade dato" name="damageDate"/>
    </p>

    <input type="submit" value="Opret skade">
</form>

</body>
</html>
