<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head th:include="fragments/head :: headerfragment"></head>
<body>
<link rel="stylesheet" th:href="@{style.css}" href="../static/style.css">
<div class="container">
    <header th:include="fragments/header :: header"></header>
            <div class="row">
                <div class="col-md-12">
                    <h1>Dette skal slettes når siden laves helt færdigt!</h1>
                    <p>Det her er bare noget tekst jeg har skrevet for at teste ting og sager,<br> og sørge for at back to top knappen kommer frem som jeg gerne vil have den til :)</p>
                </div>
                <div class="col-md-12"><div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Denne skal slettes i HTML
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Som sagt skal den slettes
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                SLET DEN NU !
                            </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                            </div>
                        </div>
                    </div>
                </div>
                    <div class="card text-center">
                        <div class="card-header">
                            Skal slettes
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Dette er en test!</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                        <div class="card-footer text-muted">
                            2 days ago
                        </div>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item">Skal slettes</li>
                        <li class="list-group-item">Skal slettes v2</li>
                        <li class="list-group-item">Skal slettes v3</li>
                        <li class="list-group-item">Skal slettes v4</li>
                        <li class="list-group-item">Skal slettes v5</li>
                    </ul>

                </div>
</div>
</div>
<footer th:include="fragments/footer :: footer"></footer>
</body>
</html>