<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head th:include="head :: headerfragment"></head>
<body>
<link rel="stylesheet" th:href="@{style.css}" href="../static/style.css">
<div class="container">
    <header th:include="header :: header"></header>
    <div id="wrap">
        <main id="main">
            <div class="row">
                <div class="col">
                    <div style="padding-top: 3vw">
                        <h4>Bilabonnement.dk!</h4>

                        </p>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
<footer th:include="footer :: footer"></footer>
</body>
</html>